cmake_minimum_required(VERSION 3.1)
project(game.libretro.{{ game.name }})

list(APPEND CMAKE_MODULE_PATH ${PROJECT_SOURCE_DIR})

find_package(Kodi REQUIRED)
find_package(libretro-{{ game.name }} REQUIRED)

set(SCUMMVM_CUSTOM_BINARY {{ '${' }}{{ game.name | upper }}_LIB}
                          ${PROJECT_NAME}${CMAKE_SHARED_LIBRARY_SUFFIX})

build_addon(${PROJECT_NAME} {{ game.name | upper }} "")

