# {{ game.addon }} language file
# Addon Name: {{ game.addon }}
# Addon id: {{ game.addon }}
# Addon Provider: libretro
msgid ""
msgstr ""
"Project-Id-Version: {{ game.addon }}\n"
"Report-Msgid-Bugs-To: translations@kodi.tv\n"
"POT-Creation-Date: {{ datetime }}\n"
"PO-Revision-Date: {{ datetime }}\n"
"Last-Translator: Kodi Translation Team\n"
"Language-Team: English (United Kingdom) (https://kodi.weblate.cloud/languages/en_gb/)\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Language: en_gb\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"

msgctxt "Addon Summary"
msgid "{{ game.summary | e }}"
msgstr ""

msgctxt "Addon Description"
msgid "{{ game.description | e }}"
msgstr ""
{% if settings %}

msgctxt "#30000"
msgid "Settings"
msgstr ""
{% for setting in settings %}

msgctxt "#{{ 30000 + loop.index }}"
msgid "{{ setting.description }}"
msgstr ""
{% endfor %}
{% endif %}
