################################################################################
#
# Pipeline to process Kodi game-addons
#
################################################################################

#
# Parameters:
#
#   Secret files:
#     * privateKey - the SSH private key used to push to kodi-game repos
#
#   Git authorship:
#     * TODO: Parameterize git authorship
#

# TODO: Run as a cron job
trigger:
- todo-disabled-for-now

jobs:

  - template: .azure/job-template.yml
    parameters:
      displayName: "BuildYabauseToReicast"
      vmImage: 'ubuntu-22.04'
      pythonVersion: '3.10'
      installScript: |
        # same_cdi
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # vecx
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # wolfenstein3d
        #dpkg -s libsdl1.2-dev || sudo apt install -y libsdl1.2-dev

        # yabasanshiro
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev
      addons:
        - yabause
        - yabasanshiro
        - xrick
        - xmil
        #- wolfenstein3d # Doesn't compile
        - virtualjaguar
        - vice_xvic
        - vice_xscpu64
        - vice_xplus4
        - vice_xpet
        - vice_xcbm5x0
        - vice_xcbm2
        - vice_x64sc
        - vice_x64dtv
        - vice_x64
        - vice_x128
        - vemulator
        - vecx
        - vbam
        - vba-next
        - uzem
        #- uae4arm # Doesn't run on x86_64
        - uae
        - tyrquake
        - thepowdertoy
        - theodore
        - tgbdual
        - swanstation
        - supafaust
        - stella
        - snes9x2010
        - snes9x2002
        - snes9x
        - smsplus-gx
        - scummvm
        - sameboy
        - same_cdi
        #- rustation # Disabled for now
        - retro8
        - remotejoy
        - reminiscence

  - template: .azure/job-template.yml
    parameters:
      displayName: "BuildRedbook"
      vmImage: 'ubuntu-20.04'
      pythonVersion: '3.10'
      dependsOn: "BuildYabauseToReicast"
      installScript: ""
      addons:
        - redbook

  - template: .azure/job-template.yml
    parameters:
      displayName: "BuildRaceToPCSXRearmed"
      vmImage: 'ubuntu-22.04'
      pythonVersion: '3.10'
      dependsOn: "BuildRedbook"
      installScript: |
        # ppsspp
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev
      addons:
        - race
        - quicknes
        - quasi88
        - px68k
        - prosystem
        - prboom
        - ppsspp
        - potator
        - pokemini
        - pocketcdg
        - picodrive
        - pcsx-rearmed

  - template: .azure/job-template.yml
    parameters:
      displayName: "BuildPcemToParallext"
      vmImage: 'ubuntu-20.04'
      pythonVersion: '3.10'
      dependsOn: "BuildRaceToPCSXRearmed"
      installScript: |
          # parallext
          dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev
          dpkg -s nasm || sudo apt install -y nasm
      addons:
          - pcem
          - parallext

  - template: .azure/job-template.yml
    parameters:
      displayName: "BuildParallelN64ToOpera"
      vmImage: 'ubuntu-22.04'
      pythonVersion: '3.10'
      dependsOn: "BuildPcemToParallext"
      installScript: |
          # parallel_n64
          dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev
          dpkg -s nasm || sudo apt install -y nasm
      addons:
          - parallel_n64
          - opera

  - template: .azure/job-template.yml
    parameters:
      displayName: "BuildOpenLara"
      vmImage: 'ubuntu-20.04'
      pythonVersion: '3.10'
      dependsOn: "BuildParallelN64ToOpera"
      installScript: |
          # openlara
          dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev
      addons:
          - openlara

  - template: .azure/job-template.yml
    parameters:
      displayName: "BuildOberonTo2048"
      vmImage: 'ubuntu-22.04'
      pythonVersion: '3.10'
      dependsOn: "BuildOpenLara"
      installScript: |
        # 3dengine
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # beetle-psx-hw
        dpkg -s libgl-dev || sudo apt install libgl-dev

        # boom3
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # craft
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # desmume
        dpkg -s libpcap-dev || sudo apt install -y libpcap-dev
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # dolphin
        dpkg -s libegl1-mesa-dev || sudo apt install libegl1-mesa-dev
        dpkg -s libusb-1.0-0-dev || sudo apt install -y libusb-1.0-0-dev
        dpkg -s libxi-dev || sudo apt install -y libxi-dev
        dpkg -s libxrandr-dev || sudo apt install -y libxrandr-dev
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # easyrpg
        dpkg -s libfmt-dev || sudo apt install -y libfmt-dev
        dpkg -s libinih-dev || sudo apt install -y libinih-dev

        # flycast
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # fsuae
        dpkg -s libglib2.0-dev || sudo apt install -y libglib2.0-dev
        dpkg -s libmpeg2-4-dev || sudo apt install -y libmpeg2-4-dev

        # fuse
        #dpkg -s libglib2.0-dev || sudo apt install -y libglib2.0-dev

        # lrps2
        dpkg -s ccache || sudo apt install -y ccache
        dpkg -s libaio-dev || sudo apt install -y libaio-dev
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # mame
        dpkg -s libasound2-dev || sudo apt install -y libasound2-dev
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # mame2016
        dpkg -s libasound2-dev || sudo apt install -y libasound2-dev
        dpkg -s python2 || sudo apt install -y python2

        # melonds
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev

        # moonlight
        dpkg -s libavcodec-dev || sudo apt install -y libavcodec-dev
        dpkg -s libavdevice-dev || sudo apt install -y libavdevice-dev
        dpkg -s libavformat-dev || sudo apt install -y libavformat-dev
        dpkg -s libcurl4-openssl-dev || sudo apt install -y libcurl4-openssl-dev
        dpkg -s libgl-dev || sudo apt install -y libgl-dev
        dpkg -s libopus-dev || sudo apt install -y libopus-dev

        # mupen64plus
        #dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev
        #dpkg -s nasm || sudo apt install -y nasm

        # mupen64plus-nx
        dpkg -s mesa-common-dev || sudo apt install -y mesa-common-dev
        dpkg -s nasm || sudo apt install -y nasm
      addons:
        - oberon
        - o2em
        - nx
        - nestopia
        - neocd
        - mupen64plus-nx
        - mu
        - mrboom
        - moonlight
        - minivmac
        - mgba
        - meteor
        - mesen-s
        - mesen
        - meowpc98
        - melonds
        - mame2016
        - mame2015
        - mame2010
        - mame2003_plus
        - mame2003_midway
        - mame2003
        - mame2000
        #- mame # Insanely huge and long running (hours and 50GB on a fast machine)
        - lutro
        - lrps2
        - jumpnbump
        - hatari
        - handy
        - gw
        - gpsp
        - gong
        - gme
        - genplus-wide
        - genplus
        - gearsystem
        - gearcoleco
        - gearboy
        - gambatte
        - galaxy
        - fuse
        #- fsuae # Requires configure command: "./autogen.sh && ./configure && make gen"
        - frodo
        - freeintv
        - freechaf
        - fmsx
        - flycast
        - fceumm
        - fbneo
        - fbalpha2012-neogeo
        - fbalpha2012-cps3
        - fbalpha2012-cps2
        - fbalpha2012-cps1
        - fbalpha2012
        - ep128emu
        - ecwolf
        - easyrpg
        - dosbox-pure
        - dosbox
        - dolphin
        - dinothawr
        - desmume2015
        - desmume
        - daphne
        - crocods
        - craft
        - chailove
        - cap32
        - cannonball
        - bsnes2014-performance
        - bsnes2014-balanced
        - bsnes2014-accuracy
        - bsnes-mercury-performance
        - bsnes-mercury-balanced
        - bsnes-mercury-accuracy
        - bsnes-hd
        - bsnes
        - boom3
        - bnes
        - bluemsx
        - blastem
        - bk
        - beetle-wswan
        - beetle-vb
        - beetle-supergrafx
        - beetle-saturn
        - beetle-psx-hw
        - beetle-psx
        - beetle-pcfx
        - beetle-pce-fast
        - beetle-pce
        - beetle-ngp
        - beetle-lynx
        - beetle-gba
        - beetle-bsnes
        - atari800
        - a5200
        - 81
        - 3dengine
        - 2048
