################################################################################
#
# Pipeline to process Kodi game -addons
#
################################################################################

#
# Parameters:
#
#   Secret files:
#     * privateKey - the SSH private key used to push to kodi-game repos
#
#   Git authorship:
#     * TODO: Parameterize git authorship
#

# TODO: Run as a cron job
trigger:
- master

jobs:
  - job: Build

    pool:
      vmImage: 'ubuntu-20.04'

    strategy:
        matrix:
          Python310:
            python.version: '3.10'

    timeoutInMinutes: 0 # Use the maximum limit

    steps:
    # Download secure file to the agent machine
    - task: DownloadSecureFile@1
      name: privateKey # The name with which to reference the secure file's path on the agent
      displayName: 'Download SSH private key'
      inputs:
        secureFile: 'id_rsa-azure' # The file name or GUID of the secure file

    # Install SSH key prior to a build or deployment
    - task: InstallSSHKey@0
      inputs:
        knownHostsEntry: "|1|5qWKb7xAKkWXfLw6ZdNAs9FzKNA=|A+W82x1iZWz+nXHgPdlIQmsEOsU= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ=="
        sshKeySecureFile: 'id_rsa-azure'

    # TODO: git authorship
    - script: |
        git config --global user.name "Garrett Brown"
        git config --global user.email "themagnificentmrb@gmail.com"
      displayName: 'Set Git authorship'

    - script: |
        git clone --branch retroplayer-20 --depth=1 https://github.com/garbear/xbmc.git kodi
      displayName: 'Clone Kodi'

    - task: UsePythonVersion@0
      inputs:
        versionSpec: $(python.version)

    - script: |
        pip3 install -r requirements.txt
      displayName: 'Install Python requirements'

    - template: .azure/azure-process-addon.yml
      parameters:
        # List add-ons in reverse order for sorted results in the kodi-game org
        addons:
          - thepowdertoy

    - script: |
        echo
        echo "wiki.txt:"
        echo
        cat game-addons/wiki.txt
        echo
      displayName: 'Print wiki.txt'

    - script: |
        echo
        echo "summary.html:"
        echo
        cat game-addons/summary.html
        echo
      displayName: 'Print summary.html'
