gitpython
jinja2
keyring
# Without the following, some users get:
# ``ModuleNotFoundError: No module named 'keyring.util.escape'``
#
# See https://github.com/dcos/dcos-e2e/issues/1643.
keyrings.alt
PyGithub==2.6.1
xmljson
setuptools
