<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kodi Game Addons</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" class="init">
$(document).ready(function() {
    $('#table').DataTable({
        'paging': false,
        'info': false
    });
});
</script>
</head>

<body>
<div class="container">
<h1>Kodi Game Addons</h1>
<table id="table" class="table table-striped table-bordered" width="100%" cellspacing="0">
	<thead>
		<tr>
			<th>Icon</th>
			<th>Libretro core</th>
			<th>Name</th>
			<th>Platform emulated</th>
			<th>Version</th>
			<th>License</th>
			<th>Supports VFS</th>
			<th>Requires GL</th>
			<th>Status</th>
			<th>Git Diff</th>
		</tr>
	</thead>
	<tbody>
		{% for addon in addons %}
		<tr>
			{% set image_path = addon.game.addon + '/' + addon.game.addon + '/' %}
			<td><a href="{{ image_path + 'resources/icon.png' }}"><img src="{{ image_path + 'resources/icon.png' }}" width="32" height="32"></a>
				<a href="{{ image_path + 'resources/fanart.jpg' }}"><img src="{{ image_path + 'resources/fanart.jpg' }}" width="32" height="32"></a>
				{% for screenshot in addon.assets.screenshots %}
				<a href="{{ image_path + screenshot }}"><img src="{{ image_path + screenshot }}" width="32" height="32"></a>
				{% endfor %}
			</td>
			<td>{{ addon.game.name }} / {{ addon.game.addon }}</td>
			<td>{{ addon.libretro_info.display_name | default('') }}</td>
			<td>{{ addon.libretro_info.systemname | default('') }}</td>
			<td>{{ addon.game.version | default('0.0.0') }} / {{ addon.system_info.version | default('-') }}</td>
			<td>{{ addon.libretro_info.license | default('') }}</td>
			<td>{{ 'false' if addon.system_info.need_fullpath else 'true' }}</td>
			{% if addon.library.loaded %}
			<td>{{ addon.library.opengl | default('false') | lower }}</td>
			<td><span class="text-success">Library available</span><br><span class="text_muted">{{ addon.library.file }}</span></td>
			{% else %}
			<td>-</td>
			<td><span class="text-danger">Failed to load library</span><br><span class="text_muted">{{ addon.library.file }}</span><br>
				<span class="text-danger">{{ addon.library.error }}</span></td>
			{% endif %}
			{% if addon.git.diff %}
			<td><pre>{{ addon.git.diff | default('') | e }}</pre></td>
			{% else %}
			<td>-</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</body>
</html>
