<!-- For http://kodi.wiki/index.php?title=Game_add-ons -->

{| class="prettytable sortable plainlinks"
! Libretro core !! Platform emulated !! Version !! License * !! Supports VFS !! Supports Rewind !! Requires GL !! Status
|-
{% for addon in addons %}
{{ '{{' }}game add-on
| Name= [[Add-on:{{ addon.libretro_info.display_name | default(addon.game.name) | default(addon.system_info.name) | default(addon.game.name) }}|{{ addon.libretro_info.display_name | default(addon.game.name) | default(addon.system_info.name) | default(addon.game.name) }}]]
| Platform= {{ addon.libretro_info.systemname | default('') }}
| Version= {{ addon.game.version | default('0.0.0') }}
{% if addon.libretro_info.license in ['Non-commercial'] %}
    {% set license_status = 'no' %}
{% elif addon.libretro_info.license in ['GPLv3'] %}
    {% set license_status = 'partial' %}
{% else %}
    {% set license_status = 'yes' %}
{% endif %}
| License= {{ '{{' }}{{ license_status }}|{{ addon.libretro_info.license.split('|') | join(', ') | default('?') }}{{ '}}' }}
{% set supports_vfs = 'no' if addon.system_info.need_fullpath else 'yes' %}
| Supports VFS= {{ '{{' }}{{ supports_vfs }}|{{ supports_vfs }}{{ '}}' }}
| Supports Rewind= ?
{% set requires_gl = 'yes' if addon.library.opengl else 'no' %}
| Requires GL= {{ '{{' }}{{ requires_gl }}|{{ requires_gl  }}{{ '}}' }}
| Status= {{ '{{' }}yes|done{{ '}}' }}
{{ '}}' }}
{% endfor %}
|} <!--Keep this at the bottom of the table -->
