{% if repo_hexsha %}
{{ game.name }} https://github.com/libretro/{{ repo | default(game.name) }}/archive/{{ repo_hexsha }}.zip
{% else %}
{{ game.name }} https://github.com/libretro/{{ repo | default(game.name) }} {{ repo_branch | default('master') }}
{% endif %}
