{% if libretro_repo.hexsha %}
{{ game.name }} https://github.com/libretro/{{ libretro_repo.name | default(game.name) }}/archive/{{ libretro_repo.hexsha }}.zip
{% else %}
{{ game.name }} https://github.com/libretro/{{ libretro_repo.name | default(game.name) }} {{ libretro_repo.branch }}
{% endif %}
