<?xml version="1.0" encoding="UTF-8"?>
<addon id="game.libretro.{{ game.name }}"
	{% set addon_name = xml.addon.name | default(system_info.name) | default(game.name) %}
		name="{{ libretro_info.display_name | default(addon_name) | e }}"
		version="{{ game.version | default(xml.addon.version) | default('0.0.0') }}"
		provider-name="Libretro">
	<requires>
		<import addon="game.libretro" version="1.0.0"/>
		{% for addon in xml.addon.requires.import | default([]) | get_list %}
		{% if addon.addon != 'game.libretro' %}
		<import addon="{{ addon.addon }}" version="{{ addon.version }}"/>
		{% endif %}
		{% endfor %}
	</requires>
	<extension point="kodi.gameclient"
			library_@PLATFORM@="@LIBRARY_FILENAME@">
		<platforms>{{ xml.addon.extension[0].platforms | default('') }}</platforms>
		<extensions>{{ system_info.extensions | join('|') | e }}</extensions>
		<supports_vfs>{{ 'false' if system_info.need_fullpath | default('true') else 'true' }}</supports_vfs>
		<supports_standalone>{{ system_info.supports_no_game | default('false') | lower }}</supports_standalone>
		<supports_keyboard>false</supports_keyboard>
		<supports_mouse>false</supports_mouse>
	</extension>
	<extension point="xbmc.addon.metadata">
		{% set summary = addon_name %}
		{% if system_info.version %}
			{% set summary = summary + ' ' + system_info.version %}
		{% endif %}
		<summary lang="en">{{ summary | e }}</summary>
		{% set extensions = (system_info.extensions | surround('.', append=False) | join(', ')) %}
		{% set description = xml.addon.extension[1].description | default('') %}
		{% if ("Supported files: " in xml.addon.extension[1].description) %}
			{% set description = xml.addon.extension[1].description | regex_replace('Supported files: .*', 'Supported files: ' + extensions) %}
		{% elif extensions %}
			{% set description = xml.addon.extension[1].description | default('') + '\n\n' + 'Supported files: ' + extensions %}
		{% endif %}
		<description>{{ description | e }}</description>
		<license>{{ libretro_info.license | default(xml.addon.extension[1].license) | default('') | e }}</license>
		<platform>@PLATFORM@</platform>
		<nofanart>true</nofanart>
		<noicon>true</noicon>
	</extension>
</addon>

